.search-container{
    padding: 16px;
    font-size: 20px;
    margin: 100px 100px;
    border:solid 1px;
    border-color: rgb(199, 196, 196);
    border-radius: 16px;
    background-color: whitesmoke;
}

.Table-Title{
    /* font-size: large */
    font-size: xx-large;
    padding-top: 12px;
    
}

.Table-Names{
    text-align: right;
    padding-right: 1/2vw;
}

.Table-Content{
    text-align: center;
    word-wrap: break-word;
    /* width: 5vw; */
    max-width: 120px;
    padding-left: 10px;
    /* padding-right: 4px; */
}
