.search-container{
    padding: 16px;
    border:solid 1px;
    border-color: rgb(199, 196, 196);
    border-radius: 16px;
    background-color: whitesmoke;
}

.Table-Title{
    /* font-size: large; */
    padding-top: 12px;
}

.Table-Names{
    text-align: right;
}

.Table-Content{
    /* display: block; */
    /* width: 30%; */
    padding-left: 28px;
    padding-right: 24px;
}